*{
	box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

h1, h2 {
	line-height: 1.4em;
	margin: 0;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.inline-block{
	display: inline-block;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.map {
  height: 100%;
  position: absolute; 
  top: 0; 
  /* bottom: -200px;  */
  left: 0; 
  right: 0; 
  z-index: 0;
}

#container {
  z-index: 1;
  position: relative;
  padding-top: 10px;
}

.header{
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	color: white;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
}

.search-form{
	margin: auto;
	padding: 10px;	
	text-align: center;
	color: white;
}

.search-query{
	width: 50%;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
}

.button{
	border-radius: 5px;
	background-color: white;
	font-size: 14px;
	padding: 10px;
}

.search-results{
	margin: auto;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}

.search-display{
	padding: 10px;
	min-height: 200px;
}

.artist-image{
	width: 125px;
	height: 125px;
}

.ticket, .no-ticket{
    background-color: green;
    width: 80px;
    border: 1px green solid;
    height: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.no-ticket{
	background-color: red;
    border: 1px red solid;
    text-decoration: line-through;
}

.top-hit{
	margin: 10px;
}

.more-or-less, .close{
    float:right;
    display:inline-block;
    padding:2px 5px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.more-or-less:hover, .close:hover{
    cursor: pointer;
}

.more-or-less-artist{
	margin-top: 10px;
}

.address{
	margin: 10px;
}

