*{
	box-sizing: border-box;
}

body{
	font-family: "Roboto", helvetica, sans-serif;
	background-color: ghostwhite;
}

.header{
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	margin-top: -10px;
	margin-bottom: -10px;
	width: 100%;
	height: 5%;
	text-align: center;
	font-size: 12px;
	color: white;
	background-color: dodgerblue;
  	border-bottom: 1px solid #DDDDDD;
}

.search-form{
	margin: auto;
	height: 10%;
	padding: 10px;	
	text-align: center;
	color: white;
	background-color: dodgerblue;
}

.search-query{
	width: 50%;
	border-radius: 3px;
}

.button{
	border-radius: 3px;
	background-color: white;
}

.search-results{
	margin: 0 auto;
	margin-top: 1%;
	width: 50%;
	height: 20%;
	padding: 10px;
	text-align: center;
}

.search-display{
	margin-top: 50px;
}

.next-page, .prev-page, .space{
	display: inline-block;
}

.space{
	width: 40%;
}

.artist-image{
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.ticket, .no-ticket{
    background-color: green;
    width: 80px;
    border: 1px green solid;
    height: 25px;
    display: block;
    text-align: center;
    padding-top: 3px;
    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.no-ticket{
	background-color: red;
    border: 1px red solid;
    text-decoration: line-through;
}

.clickable:hover{
	text-decoration: underline;
	cursor: pointer;
	color: red;
}

.top-hit{
	display: block;
	color: blue;
}

.display-map{
	height: 500px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin: auto;
}

.greyscale{
	filter: grayscale(100%) opacity(10%);
}

